@import url('https://fonts.googleapis.com/css?family=Jost:lighter,regular,bold,bolder,italic&subset=latin,latin-ext');

body {
	overflow: auto;
}

.switch-wrapper>div {
	width: 100%;
}

* {
	box-sizing: initial;
}

.container {
	max-width: 931px;
	margin: 0 auto;
	font-family: Jost;
	border-left: 0.5px solid #f3f3f3;
	border-right: 0.5px solid #f3f3f3;
	position: relative;
}

.header {
	width: 100%;
	height: 105px;
}

.logo {
	width: 115px;
}

.main {
	padding: 0px 86px 20px 128px;

	@media screen and (max-width: 700px) {
		padding: 0px 20px 20px 20px;
	}

	.topbar {
		display: flex;
		justify-content: space-between;

		.topbar-title {
			font-size: 46px;
			font-weight: 500;

			span {

				&:first-child {
					font-size: 16px;
				}

				&:nth-child(2) {
					font-size: 24px;
					font-weight: normal;
				}

				&:last-child {
					font-size: 24px;
					font-weight: lighter;
				}
			}
		}
	}

	.share-btn {
		font-size: 16px;
		background-color: #CFCFCF;
		border-radius: 200px;
		width: 88px;
		height: 48px;
		font-weight: 600;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		img:first-child {
			width: 9px;
		}

		img:nth-child(2) {
			width: 20px;
		}
	}

	.description {
		position: relative;
		background: #F8F8F8;
		font-style: italic;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		margin-top: 4px;
		padding: 6px 165px 6px 6px;

		@media screen and (max-width: 700px) {
			padding: 6px;
		}
	}

	.gallery {
		display: flex;
		margin: 14px 0px;
		justify-content: space-between;
		align-items: center;

		.gallery-single {
			padding: 18px;
			background: #F8F8F8;
			max-width: 240px;
			width: 100%;
			height: 100%;
		}

		.gallery-video {
			padding: 12px;
			background: #F8F8F8;
			position: relative;

			img:nth-child(2) {
				position: absolute;
				top: 40px;
				left: 40px;
			}
		}

		.gallery-multi {
			padding: 15px;
			background: #F8F8F8;
			max-width: 240px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			img {
				margin: 3px;
			}

			width: 100%;
			height: 100%;
		}
	}

	.bid-container {
		display: flex;
		justify-content: space-between;

		.bid-single {
			width: 272px;
			min-width: 200px;

			div:first-child {
				cursor: pointer;
			}

			@media screen and (max-width: 700px) {
				width: auto;
			}
		}

		.bid-view {
			width: 100%;
			height: 140px;
			background: rgba(248, 248, 248, 0.8);
			font-size: 30px;
			justify-content: center;
			align-items: center;

			div:nth-child(1) {
				font-family: Jost;
				font-style: italic;
				font-weight: normal;
				font-size: 16px;
				line-height: 23px;
				text-align: center;
				text-decoration-line: underline;
				text-transform: uppercase;
				color: #939393;
			}

			div:nth-child(2) {
				font-family: Jost;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 69px;
				text-align: center;
				text-transform: uppercase;
				color: #AAAAAA;

				span {
					font-family: system-ui;
				}
			}

			div:nth-child(3) {
				font-family: Jost;
				font-style: italic;
				font-weight: 300;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
				text-transform: uppercase;
				color: #848484;
			}

			div:nth-child(4) {
				font-family: Jost;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 26px;
				text-align: center;
				text-transform: uppercase;
				color: #9F9F9F;
			}
		}

		.bid-multi {
			width: 272px;
			min-width: 200px;

			div:first-child {
				cursor: pointer;
			}

			@media screen and (max-width: 700px) {
				width: auto;
			}
		}

		.bid-type {
			width: 100%;
			height: 51px;
			background: #F8F8F8;
			border: 1px solid #DADADA;
			box-sizing: border-box;
			border-radius: 4px;
			font-size: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.records {
			background: rgb(239 239 239);
			min-height: 400px;
			align-items: center;

			.item {
				width: 444px;
				height: 42px;
				background: rgba(235, 235, 235, 0.5);
				font-style: italic;
				font-weight: 300;
				font-size: 22px;
				display: flex;
				align-items: center;
				border: 1px solid rgb(214, 214, 214);
				margin-bottom: 5px;
				position: relative;

				.item-amount {
					width: 270px;
				}

				.item-name {
					width: 170px;
					display: flex;
					justify-content: center;

					.switch-btn {
						background: #000000;
						border: 1px solid #000000;
						box-sizing: border-box;
						border-radius: 30px;
						width: 110px;
						color: #fff;
						height: 24px;
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						display: flex;
						justify-content: center;
						text-transform: uppercase;
					}
				}

				.item-tip {
					position: absolute;
					left: 445px;
					height: 44px;
					background: grey;
					width: 261px;
					display: flex;
					align-items: center;
					color: white;
					padding-left: 10px;
				}
			}
		}

		.bid-detail {
			background: rgb(239 239 239);
			height: 100px;
			align-items: center;
			padding: 5px;

			.multi-bid-input {
				display: flex;

				input {
					width: 84px;
					height: 30px;
					background: #FFFFFF;
					mix-blend-mode: normal;
					border: 1px solid #DADADA;
					box-sizing: border-box;
					border-radius: 4px;
					text-align: center;
					padding: 0 5px;
					font-family: Jost;
					font-style: italic;
					font-weight: 300;
					font-size: 22px;
					line-height: 32px;
					text-align: center;
					text-transform: uppercase;
				}

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				/* Firefox */
				input[type=number] {
					-moz-appearance: textfield;
				}

				span {
					font-family: Jost;
					font-style: italic;
					font-weight: normal;
					font-size: 16px;
					line-height: 23px;
					text-align: center;
					text-decoration-line: underline;
					text-transform: uppercase;
					color: #000;
					margin-left: 10px;
					display: flex;
					align-items: center;
				}
			}

			.multi-bid-btn {
				height: 62px;
				left: calc(50% - 250px/2 + 239.5px);
				top: calc(50% - 62px/2 + 238.5px);
				background: #000000;
				border: 1px solid #000000;
				box-sizing: border-box;
				border-radius: 30px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-weight: 500;
				font-size: 18px;
				line-height: 20px;
				text-align: center;
				text-transform: uppercase;
				color: #FFFFFF;
				margin-top: 10px;
				cursor: pointer;
			}

			.single-bid-btn {
				height: 87px;
				background: #000000;
				border: 1px solid #000000;
				box-sizing: border-box;
				border-radius: 30px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 10px;
				cursor: pointer;

				.single-bid-input {
					position: relative;

					.eth-symbol {
						position: absolute;
						top: 5px;
						margin: 0;
						color: #000;
						left: 110px;
						text-decoration-line: none;
						font-size: 22px;
						font-style: italic;
					}

					input {
						width: 84px;
						height: 30px;
						background: #FFFFFF;
						mix-blend-mode: normal;
						border: 1px solid #DADADA;
						box-sizing: border-box;
						border-radius: 4px;
						text-align: right;
						padding-right: 25px;
						font-size: 22px;
						margin-left: 50px;
						font-style: italic;
					}

					input::-webkit-outer-spin-button,
					input::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}

					/* Firefox */
					input[type=number] {
						-moz-appearance: textfield;
					}


					span {
						font-family: Jost;
						font-style: italic;
						font-weight: 300;
						font-size: 14px;
						line-height: 20px;
						text-align: center;
						text-decoration-line: underline;
						text-transform: uppercase;
						color: #FFFFFF;
						margin-left: 10px;
					}
				}

				span {
					font-weight: 500;
					font-size: 18px;
					line-height: 20px;
					text-align: center;
					text-transform: uppercase;
					color: #FFFFFF;
					margin-top: 20px;
				}
			}
		}
	}

	.controll-wrapper {
		padding: 50px 0;
		display: flex;
		flex-direction: column;
		height: 202px;

		.time {
			justify-content: center;
			align-items: center;
			background: rgba(248, 248, 248, 0.4);
			height: 140px;

			div:nth-child(1) {
				font-family: Jost;
				font-style: italic;
				font-weight: normal;
				font-size: 16px;
				line-height: 23px;
				text-align: center;
				text-decoration-line: underline;
				text-transform: uppercase;
				color: #AEAEAE;
			}

			div:nth-child(2) {
				font-family: Jost;
				font-style: normal;
				font-weight: normal;
				font-size: 48px;
				line-height: 69px;
				text-align: center;
				text-transform: uppercase;
				color: #690000;
			}

			div:nth-child(3) {
				font-family: Jost;
				font-style: italic;
				font-weight: 300;
				font-size: 10px;
				line-height: 14px;
				text-align: center;
				text-transform: uppercase;
				color: #626161;
			}
		}

		.control-btns {
			justify-content: space-between;
			padding: 13px 6px;
			text-align: center;

			button {
				background: #000000;
				border: 1px solid #000000;
				box-sizing: border-box;
				border-radius: 30px;
				width: 162px;
				height: 50px;
				color: #fff;
				cursor: pointer;

				@media screen and (max-width: 700px) {
					width: auto;
				}
			}

			.logout-btn {
				background: #CBCBCB;
				border: 1px solid #969696;
				box-sizing: border-box;
				border-radius: 30px;
				font-size: 12px;
				font-weight: 600;
				color: #727272;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				span {
					font-weight: 300;
					color: #767676;
					padding-bottom: 10px;
				}
			}
		}
	}

	.end-auction {
		width: 559px;
		height: 937px;
		background: #F8F8F8;
		margin: 20px auto;
		padding: 37px;

		img {
			width: 100%;
			height: 100%;
		}

		@media screen and (max-width: 559px) {
			width: auto;
			height: auto;
		}
	}

	.end-btn {
		font-family: Jost;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 43px;
		text-align: center;
		text-transform: uppercase;
		color: #00AC64;
	}
}

.img-viewer {
	width: 100%;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;

	display: flex;

	;
	flex-direction: column;
	background: #C4C4C4;

	img {
		width: 509px;
		height: 902px;
		margin: auto;

		@media screen and (max-width: 509px) {
			width: auto;
			height: auto;
			margin: 50px 0;
		}
	}

	img:first-child {
		width: 30px;
		height: 30px;
		margin: 10px;
	}
}

.wallet {
	position: absolute;
	width: 510px;
	height: 788px;
	right: 0px;
	top: 0px;
	background: #C4C4C4;

	display: flex;

	;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	div {
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		text-transform: uppercase;
		text-align: center;
	}

	div:first-child {
		margin-bottom: 21px;
	}

	@media screen and (max-width: 510px) {
		width: 100%;
	}
}